@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #595757; }

ul {
  list-style: none; }

.input_hide {
  display: none; }

.errors {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F67E93; }
  .errors p {
    margin-left: 10px; }

body {
  /*--------明朝の場合-------- */
  /*--------ゴシックの場合 Noto Sans JP importも忘れずに-------- */
  font-family: "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  color: #595757; }
  body #container {
    display: block;
    position: relative;
    width: 100%;
    height: auto; }
    body #container section {
      width: 900px;
      height: auto;
      margin: 0 auto; }
      body #container section h2 {
        margin-bottom: 50px; }

header {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  background-color: #2be5d9; }
  @media screen and (max-width: 375px) {
    header {
      /*--js heder&Nav SP用-- */
      /*--End of js heder&Nav SP用-- */ } }
  header #header_inner {
    width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 4px 0; }
    header #header_inner a {
      color: #fff; }
    header #header_inner #header_logo {
      width: 50px;
      height: 30px;
      float: left; }
    header #header_inner #header_inner_right {
      display: flex;
      float: right; }
      header #header_inner #header_inner_right #header_user_info {
        display: flex;
        align-items: center;
        width: auto;
        height: 30px; }
        header #header_inner #header_inner_right #header_user_info li {
          width: auto;
          color: #fff;
          padding: 0 5px;
          font-size: 1.3rem; }
          header #header_inner #header_inner_right #header_user_info li:nth-of-type(2) {
            margin-top: -2px; }
          header #header_inner #header_inner_right #header_user_info li a {
            display: flex;
            align-items: center; }
            header #header_inner #header_inner_right #header_user_info li a p {
              margin-left: 10px;
              font-size: 1rem; }
      header #header_inner #header_inner_right #header_function {
        display: flex;
        align-items: center;
        width: auto;
        height: 30px;
        margin-left: 60px; }
        header #header_inner #header_inner_right #header_function li {
          padding: 0 10px;
          font-size: 1.3rem; }
      header #header_inner #header_inner_right #other_options {
        display: flex;
        align-items: center;
        width: auto;
        height: 30px;
        margin-left: 30px; }
        header #header_inner #header_inner_right #other_options li {
          color: #fff;
          padding: 0 7px;
          font-size: 1.3rem; }

/*-------------------------------------
 * home.php */
/*------------------------------------- */
section#home .inner_container {
  display: flex;
  width: 900px;
  height: auto;
  margin-top: 30px; }
  section#home .inner_container .inner_left {
    width: 23%;
    height: auto;
    text-align: left;
    margin: 0 auto 0 0; }
    section#home .inner_container .inner_left ul {
      display: block;
      text-align: center;
      line-height: 2rem; }
      section#home .inner_container .inner_left ul li#home_user_icon {
        font-size: 5rem; }
  section#home .inner_container .inner_center {
    width: 50%;
    height: auto;
    margin: 0 auto 0 0; }
    section#home .inner_container .inner_center form#new_post {
      width: 100%;
      margin-bottom: 30px; }
      section#home .inner_container .inner_center form#new_post ul {
        margin-bottom: 20px; }
        section#home .inner_container .inner_center form#new_post ul li.post_icon {
          display: inline-block;
          margin: 8px 15px; }
          section#home .inner_container .inner_center form#new_post ul li.post_icon label {
            font-size: 1.2rem; }
            section#home .inner_container .inner_center form#new_post ul li.post_icon label:hover {
              cursor: pointer; }
      section#home .inner_container .inner_center form#new_post textarea {
        width: 90%;
        height: 150px;
        line-height: 1.5rem;
        padding: 10px;
        border: solid 3px #9FA0A0;
        border-radius: 3px;
        resize: none; }
    section#home .inner_container .inner_center #post_list {
      margin-bottom: 30px; }
  section#home .inner_container .inner_right {
    width: 23%;
    height: auto;
    margin: 0 auto 0 0; }

/*-------------------------------------
 * inbox.php */
/*------------------------------------- */
section#inbox .unread {
  font-weight: bold; }
section#inbox .inner_container {
  width: 500px;
  text-align: left;
  margin: 0 auto; }
  section#inbox .inner_container #new_message {
    font-size: 1.2rem;
    margin-bottom: 30px; }
  section#inbox .inner_container #posted_subject {
    margin-bottom: 20px; }
    section#inbox .inner_container #posted_subject li {
      line-height: 1.3rem; }
  section#inbox .inner_container .no_messages {
    font-wieght: bold; }

/*-------------------------------------
 * new_conversation.php */
/*------------------------------------- */
section#new_conversation form {
  width: 500px;
  margin: 0 auto; }
  section#new_conversation form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: solid 3px #9FA0A0;
    border-radius: 3px; }
  section#new_conversation form textarea {
    width: 90%;
    height: 150px;
    line-height: 1.5rem;
    margin-bottom: 20px;
    padding: 10px;
    border: solid 3px #9FA0A0;
    border-radius: 3px;
    resize: none; }
  section#new_conversation form label {
    display: flex;
    font-size: 1.5rem;
    width: 90%;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #2be5d9;
    color: #fff;
    margin: 0 auto;
    border-radius: 3px;
    opacity: 0.6;
    transition: 0.3s; }
    section#new_conversation form label:hover {
      cursor: pointer;
      opacity: 1; }
    section#new_conversation form label p {
      font-size: 1rem; }

/*-------------------------------------
 * preference.php */
/*------------------------------------- */
section#preference form {
  width: 400px;
  text-align: left;
  line-height: 2rem;
  margin: 0 auto; }
  section#preference form #rename_user {
    margin-bottom: 20px; }
  section#preference form input[type="submit"] {
    margin-top: 20px; }
